$green : rgb(24, 140, 24);
$blue : rgb(58, 168, 226);
$orange : rgb(235, 157, 13);
$red : rgb(185, 31, 31);
$grey : rgb(125, 125, 125);
$table-hover-highlight : #b3e8ff;

$loading-spinner-border : 8px solid #0a2264;
$loading-spinner-border-color: #0a2264 transparent transparent transparent;
